/* styles.css */
body {
    background-color: #6B3B18; /* Bruine achtergrondkleur */
    color: #A040A0; /* Paarse tekstkleur */
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #D1B9CB; /* Paarse achtergrondkleur voor container */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #6B3B18; /* Bruine tekstkleur voor koppen */
}

p {
    line-height: 1.6; /* Verbeter de leesbaarheid van de tekst */
}

/* Stijlen voor de secties */
.section {
    margin-bottom: 30px;
}

.section-header {
    font-size: 24px;
    margin-bottom: 10px;
}

.section-content {
    font-size: 18px;
}

/* Stijlen voor de knop */
.btn {
    padding: 10px 20px;
    background-color: #6B3B18; /* Bruine achtergrondkleur voor knop */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #4A235A; /* Donkerdere bruine kleur bij hover */
}
